################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyTe/extint/Filters
/find/find/x64/Debug
/MyTe/.vs/MyTe/v16
/MyTe/Debug
/MyTe/extint/x64/Debug
/MyTe/MyTe/Debug
/MyTe/MyTe/x64/Debug
/MyTe/x64/Debug
/MyTe/MyTe/hlp
/MyTe/extint/Data
